.about-hero {
  background: url("/icons/about/bg.jpg") no-repeat;
  background-size: contain;
  padding-top: 10%;
  margin: 0;

  &__header {
    border-radius: 37px 37px 0px 0px;
    background-color: #fff;
    max-width: 503px;
    margin: 0 auto;
    padding: 41px;
    text-align: center;
  }

  &__content {
    @include flex-v-center;

    flex-direction: column;
    row-gap: 30px;
    max-width: 751px;
    margin: 0 auto;
    padding: 66px;
    margin-top: var(--section-offset);

    .quote {
      position: relative;
      text-align: center;
      padding-bottom: 27px;

      &::before,
      &::after {
        content: url("/icons/about/decoration.svg");
        position: absolute;
        bottom: 50%;
      }

      &::before {
        left: -76px;
        transform: translateY(50%);
      }

      &::after {
        right: -76px;
        transform: translateY(50%) rotateY(180deg);
      }

      &__text {
        font-size: 35px;
        font-style: italic;
      }

      .uppercase{
        text-transform: uppercase;
        padding-top: 34px;
      }
    }
  }
}
