.mail {
  max-width: 796px;
  & input,
  textarea {
    
    border: none;
    outline: none;
    border-bottom: 1.5px solid var(--dark-clr);
    padding: 0 13px 13px 0;
    flex-grow: 1;
  }
  & h3 {
    text-align: center;
  }

  .form {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    &-coment {
      @include flex-all-sb;
      gap: 60px 40px;
      flex-wrap: wrap;
    }

    &-interest {
      resize: none;
      padding-bottom: 130px;
    }

    .button {
      display: flex;
      justify-content: center;
      padding-top: 77px;
    }
  }
}
