.about-us{
  display: grid;
  grid-template-columns: 2fr 3fr ;
  align-items: center;
  gap: 75px;
}

.about-us h5 {
  padding-bottom: 25px;
}

.about-us p {
  padding-bottom: 30px;
}

.callus{
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  align-items: center;
  gap: 15px;
}

.estimate {
  vertical-align: middle;
}
.estimate a {
  padding: 26px 31px 26px 31px;
  margin-top: 47px;
}

