.text {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.text_bold {
  font-weight: 700;
}
.text_medium {
  font-weight: 500;
}
.text-btn {
  font-size: 18px;
  font-weight: 600;
}

.first-heading {
  font-size: 40px;
  font-weight: 400;
}

.second-heading {
  font-size: 62px;
  font-weight: 400;
  color: var(--dark-clr);
}

.third-heading {
  font-size: 50px;
  font-weight: 400;
  color: var(--dark-clr);
  letter-spacing: 1px;
}

.title {
  font-size: 25px;
  font-weight: 400;
}

.text-xxl{
  color:var(--main-clr);
  font-size: 85px;
  text-align: center;
}