.text-xxl {
  color: var(--main-clr);
  font-size: 85px;
  text-align: center;
}

.first-heading {
  font-size: 62px;
  font-weight: 400;
  color: var(--dark-clr);
}

.second-heading {
  font-size: 50px;
  font-weight: 400;
  color: var(--dark-clr);
  letter-spacing: 1px;
  line-height: 125%;
}

.title {
  font-size: 25px;
  font-weight: 400;
  color: var(--dark-clr);
  line-height: 150%;
  letter-spacing: 0.25px;
}

.text {
  font-size: 22px;
  font-weight: 400;
  color: var(--gray-clr);
  letter-spacing: 0.22px;
  line-height: 150%;
}

.text-md {
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-clr);
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 250%;
}

.text-m {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-clr);
  letter-spacing: 0.18px;
}

.text-sm {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-clr);
  letter-spacing: 0.16px;
  text-transform: capitalize;
}


// 980px
@include respond(tablet) {
  .first-heading {
    font-size: 52px;
  }
  .second-heading{
    font-size: 44px;
  }

  .text {
    font-size: 20px;
  }
}

// 748px
@include respond(medium) {
  .first-heading {
    font-size: 44px;
  }

  .second-heading{
    font-size: 30px;
  }

  .text {
    font-size: 16px;
  }
}

// 600px
@include respond(mobile) {
  .first-heading {
    font-size: 26px;
  }

  .second-heading{
    font-size: 20px;
  }

  .title {
    font-size: 18px;
  }

  .text {
    font-size: 12px;
  }
}

// 425px
@include respond(mobile-sm) {
  .first-heading {
    font-size: 20px;
  }

  .second-heading{
    font-size: 16px;
  }

  .title {
    font-size: 14px;
  }

  .text {
    font-size: 10px;
  }
}

