.text {
  font-size: 22px;
  font-weight: 400;
  color: var(--gray-clr);
  letter-spacing: 0.22px;
  line-height: 150%;
}

.second-heading {
  font-size: 62px;
  font-weight: 400;
  color: var(--dark-clr);
}

.third-heading {
  font-size: 50px;
  font-weight: 400;
  color: var(--dark-clr);
  letter-spacing: 1px;
  line-height: 125%;
}

.title {
  font-size: 25px;
  font-weight: 400;
  color: var(--dark-clr);
  line-height: 150%;
}

.text-m {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-clr);
  letter-spacing: 0.18px;
}

.text-sm {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-clr);
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.text-xxl {
  color: var(--main-clr);
  font-size: 85px;
  text-align: center;
}
