.aboutUs {
  .about-us {
    @include flex-g-center;
    grid-template-columns: 2fr 3fr;
    gap: 75px;

    & h5 {
      padding-bottom: 25px;
    }
    & p {
      padding-bottom: 30px;
    }
  }
  .call-us {
    @include flex-g-center;
    grid-template: 1fr / 1fr 3fr;
    gap: 15px;
  }
  .estimate {
    vertical-align: middle;

    & button {
      padding: 26px 31px;
      margin-top: 47px;
    }
  }
}

// 980px
@include respond(tablet) {
  .aboutUs {
    .about-us {
      gap: 50px;
      & h5 {
        margin-bottom: 0;
        padding-bottom: 20px;
      }
      & p {
        margin-bottom: 0;
        padding-bottom: 25px;
      }
    }
  }
}

// 748px
@include respond(medium) {
  .aboutUs {
    .about-us {
      gap: 40px;
    }
    .estimate {
      & button {
        padding: 20px 26px;
        margin-top: 20px;
      }
    }
  }
}

// 600px
@include respond(mobile) {
  .aboutUs {
    .about-us {
      gap: 30px;
    }
    .call-us {
      font-size: 12px;
      gap: 10px;
    }
    .estimate {
      & button {
        padding: 10px 15px;
        margin-top: 15px;
      }
    }
  }
}

// 425px
@include respond(mobile-sm) {
  .aboutUs {
    .about-us {
      gap: 15px;
      & h5 {
        padding-bottom: 10px;
      }
      & p {
        padding-bottom: 10px;
      }
    }
    .call-us {
      font-size: 10px;
      gap: 5px;
    }
    .estimate {
      & button {
        padding: 6px 5px;
        margin-top: 10px;
      }
    }
  }
}

