.bgdark {
  @include flex-all-center;
  padding: 80px 315px;
  flex-direction: column;
  gap: 10px;
  border-radius: 70px;
  background-color: var(--dark-clr);

  & img{
    padding-left: 11px;
    color: black;
  }
}

.color {
  color: #fff;
}

.color-text {
  color: #fff;
  padding-bottom: 12px;
}

.bgcolor {
  background-color: var(--main-clr);
  padding: 26px 37px;
}

