.title {
  align-items: center;
}

.plan {
  @include flex-all-center;
  text-align: center;
  gap: 42px;
}

.work h5 {
  padding-bottom: 20px;
}

.read {
  padding-top: 52px;
}

.read img {
  padding-left: 12px;
  cursor: pointer;
}