body {
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--content-padding);
  margin: 0 auto;

  &_flex {
    @include flex-all-sb;
  }
}

section {
  margin-top: var(--section-offset);
}

// 980px
@include respond(tablet) {
  section {
    margin-top: 120px;
  }
}

// 748px
@include respond(medium){
  section {
    margin-top: 100px;
  }
}

// 600px
@include respond(mobile){
  section {
    margin-top: 80px;
  }
}

// 425px
@include respond(mobile-sm){
  section {
    margin-top: 60px;
  }
}