:root {
  --main-clr: #cda274;
  --dark-clr: #292f36;

  --content-width: 1200px;
  --section-offset: 200px;

  --first-heading: 65px;
  --second-heading: 50px;

  --border-main: 1px solid #e7e7e7;
}
