.footer{
  & hr{
    margin: 0;
  }
  .interno{
    display: flex;
    gap: 101px;
    padding-bottom: 134px;

    .logo{
      padding-bottom: 18px;
    }
  }
  .social{
    display: flex;
    align-items: center;
    gap: 54px;
    padding-top: 15px;

  }
  .pages h5,
  .services h5,
  .contact h5{
    padding-bottom: 9px;
  }

  .pages a,
  .services a,
  .contact a{
    line-height: 300%;
  }

  .copyright{
    text-align: center;
    padding: 46px;
  }
}