@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("libs/bootstrap-reboot.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --main-clr: #cda274;
  --dark-clr: #292f36;
  --gray-clr: #4d5053;
  --light-clr: #f4f0ec;
  --section-offset: 200px;
  --content-width: 1200px;
  --content-padding: 15px;
  --container-width: calc(var(--content-width) + (2 * var(--content-padding)));
}

body {
  font-family: "DM Serif Display", serif;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--content-padding);
  margin: 0 auto;
}
.container_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  margin-top: var(--section-offset);
}

.text {
  font-size: 22px;
  font-weight: 400;
  color: var(--gray-clr);
  letter-spacing: 0.22px;
  line-height: 150%;
}

.second-heading {
  font-size: 62px;
  font-weight: 400;
  color: var(--dark-clr);
}

.third-heading {
  font-size: 50px;
  font-weight: 400;
  color: var(--dark-clr);
  letter-spacing: 1px;
  line-height: 125%;
}

.title {
  font-size: 25px;
  font-weight: 400;
  color: var(--dark-clr);
  line-height: 150%;
}

.text-m {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-clr);
  letter-spacing: 0.18px;
}

.text-sm {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-clr);
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.text-xxl {
  color: var(--main-clr);
  font-size: 85px;
  text-align: center;
}

.btn {
  border-radius: 18px;
  padding: 26px 49px 26px 48px;
  background: var(--dark-clr);
  color: var(--light-clr);
}
.btn img {
  padding-left: 10px;
  cursor: pointer;
}

.header {
  padding: 50px 0;
}
.header .nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.header .nav_item {
  transition: 0.3s;
}
.header .nav_item:hover {
  transition: 0.3s;
  color: var(--main-clr);
}
.header .nav .search-btn svg path {
  transition: 0.3s;
}
.header .nav .search-btn:hover svg path {
  transition: 0.3s;
  stroke: var(--main-clr);
}

.banner {
  position: relative;
}
.banner .bgimg {
  width: 100%;
}
.banner .hero {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 45%;
}

.title {
  align-items: center;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 42px;
}

.work h5 {
  padding-bottom: 20px;
}

.read {
  padding-top: 52px;
}

.read img {
  padding-left: 12px;
  cursor: pointer;
}

.about-us {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  gap: 75px;
}

.about-us h5 {
  padding-bottom: 25px;
}

.about-us p {
  padding-bottom: 30px;
}

.call-us {
  display: grid;
  align-items: center;
  grid-template: 1fr/1fr 3fr;
  gap: 15px;
}

.estimate {
  vertical-align: middle;
}

.estimate a {
  padding: 26px 31px 26px 31px;
  margin-top: 47px;
}

.testimonial .container {
  background-color: var(--light-clr);
  padding: 88px 24px;
  border-radius: 50px;
}
.testimonial .content h5 {
  display: flex;
  padding-bottom: 38px;
  text-align: center;
  justify-content: center;
}
.testimonial .content .testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.testimonial .content .testimonials .person-name {
  background-color: #fff;
  min-height: 339px;
  border-radius: 20px;
  padding: 53px 37px;
}
.testimonial .content .testimonials .person-name .person {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  justify-items: start;
  gap: 23px;
  padding-bottom: 25px;
}
.testimonial .content .testimonials .person-name .person .signature * {
  margin: 0;
  padding: 0;
}

.logo-client {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading h5 {
  text-align: center;
  padding-bottom: 8px;
}

.heading p {
  text-align: center;
  padding-bottom: 93px;
}

.kitchens {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 56px 104px;
}

.top-right {
  border-radius: 0 15% 0 0;
}

.top-left {
  border-radius: 15% 0 0 0;
}

.button-right {
  border-radius: 0 0 15% 0;
}

.button-left {
  border-radius: 0 0 0 15%;
}

.project-text {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.textkitchen {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.textkitchen * {
  padding: 0;
  margin: 0;
}

.counter {
  background-color: var(--light-clr);
  height: 457px;
  padding: 150px 0;
}
.counter .advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.counter .advantage:not(:last-child) {
  padding-right: 64px;
  border-right: 1px solid var(--main-clr);
}

.blog .section-header {
  text-align: center;
}
.blog .section-header p {
  padding-bottom: 36px;
}
.blog .cards {
  display: flex;
  gap: 27px;
  justify-content: space-between;
}
.blog .card {
  cursor: pointer;
  transition: 0.3s;
  width: 340px;
  padding: 21px;
  padding-bottom: 37px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.blog .card:hover {
  transition: 0.3s;
  background-color: var(--light-clr);
}
.blog .card:hover a {
  background-color: var(--light-clr);
}
.blog .card_cover {
  position: relative;
  border-radius: 45px;
}
.blog .card_cover img {
  border-radius: 45px 45px 0px 0px;
}
.blog .card_cover h3 {
  padding-bottom: 30px;
}
.blog .card_label {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background-color: var(--light-clr);
  padding: 4px 11px;
  min-width: 135px;
  border-radius: 8px 8px 8px 0px;
}
.blog .card_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bgdark {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 315px;
  flex-direction: column;
  gap: 10px;
  border-radius: 70px;
  background-color: var(--dark-clr);
}
.bgdark img {
  padding-left: 11px;
  color: black;
}

.color {
  color: #fff;
}

.color-text {
  color: #fff;
  padding-bottom: 12px;
}

.bgcolor {
  background-color: var(--main-clr);
  padding: 26px 37px;
}

.footer hr {
  margin: 0;
}
.footer .interno {
  display: flex;
  gap: 101px;
  padding-bottom: 134px;
}
.footer .interno .logo {
  padding-bottom: 18px;
}
.footer .social {
  display: flex;
  align-items: center;
  gap: 54px;
  padding-top: 15px;
}
.footer .pages h5,
.footer .services h5,
.footer .contact h5 {
  padding-bottom: 9px;
}
.footer .pages a,
.footer .services a,
.footer .contact a {
  line-height: 300%;
}
.footer .copyright {
  text-align: center;
  padding: 46px;
}

.about-hero {
  background: url("/icons/about/bg.jpg") no-repeat;
  background-size: contain;
  padding-top: 10%;
  margin: 0;
}
.about-hero__header {
  border-radius: 37px 37px 0px 0px;
  background-color: #fff;
  max-width: 503px;
  margin: 0 auto;
  padding: 41px;
  text-align: center;
}
.about-hero__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  max-width: 751px;
  margin: 0 auto;
  padding: 66px;
  margin-top: var(--section-offset);
}
.about-hero__content .quote {
  position: relative;
  text-align: center;
  padding-bottom: 27px;
}
.about-hero__content .quote::before, .about-hero__content .quote::after {
  content: url("/icons/about/decoration.svg");
  position: absolute;
  bottom: 50%;
}
.about-hero__content .quote::before {
  left: -76px;
  transform: translateY(50%);
}
.about-hero__content .quote::after {
  right: -76px;
  transform: translateY(50%) rotateY(180deg);
}
.about-hero__content .quote__text {
  font-size: 35px;
  font-style: italic;
}
.about-hero__content .quote .uppercase {
  text-transform: uppercase;
  padding-top: 34px;
}

.subconcept {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
}
.subconcept .concept_block {
  display: flex;
  justify-content: center;
  gap: 41px;
}
.subconcept .concept_block .concept_content {
  vertical-align: middle;
}
.subconcept .concept_block .concept_content h3 {
  padding-bottom: 23px;
}
.subconcept .concept_block .concept_content p {
  padding-bottom: 41px;
  text-align: justify;
}

.team {
  background-color: var(--light-clr);
  height: 968px;
}
.team .team-content {
  padding-top: 185px;
  border: 185px 360px 184px 360px;
  padding-bottom: 40px;
}
.team .team-content h3 {
  text-align: center;
  color: var(--dark-clr);
}
.team .team-content .team-foto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
}
.team .team-content .team-foto img {
  background-color: var(--light-clr);
  border-radius: 30px;
}
.team .team-content .cardbg {
  background-color: #fff;
  border-radius: 30px;
}
.team .team-content .cutaway {
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding: 70px 27px;
}
.team .team-content .cutaway span {
  text-align: center;
}
.team .team-content .cutaway h3 {
  margin: 0;
}
.team .team-content .cutaway .social {
  padding: 65px 0;
  display: flex;
  justify-content: center;
  gap: 36px;
}
.team .team-content .cutaway .social img {
  border-radius: 0;
}
.team .team-content .cutaway .contact-her {
  justify-content: center;
  text-align: center;
}

.mail {
  max-width: 796px;
}
.mail input,
.mail textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid;
}
.mail h3 {
  text-align: center;
  padding-bottom: 77px;
}
.mail .form .form-coment {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 57px;
}
.mail .form .form-interest {
  min-height: 130px;
}
.mail .form .button {
  display: flex;
  justify-content: center;
  padding-top: 77px;
}

.pricing-hero {
  background: url("/icons/pricing/bg.jpg") no-repeat;
  background-size: contain;
  padding-top: 10%;
  margin: 0;
}
.pricing-hero__header {
  border-radius: 37px 37px 0px 0px;
  background-color: #fff;
  max-width: 503px;
  margin: 0 auto;
  padding: 41px;
  text-align: center;
}

.project-hero {
  background: url("/icons/project/bg.jpg") no-repeat;
  background-size: contain;
  padding-top: 10%;
  margin: 0;
}
.project-hero__header {
  border-radius: 37px 37px 0px 0px;
  background-color: #fff;
  max-width: 503px;
  margin: 0 auto;
  padding: 41px;
  text-align: center;
}

.blog-hero {
  background: url("/icons/blog/bg.jpg") no-repeat;
  background-size: contain;
  padding-top: 10%;
  margin: 0;
}
.blog-hero__header {
  border-radius: 37px 37px 0px 0px;
  background-color: #fff;
  max-width: 503px;
  margin: 0 auto;
  padding: 41px;
  text-align: center;
}

.contact-hero {
  background: url("/icons/contact/bg.jpg") no-repeat;
  background-size: contain;
  padding-top: 10%;
  margin: 0;
}
.contact-hero__header {
  border-radius: 37px 37px 0px 0px;
  background-color: #fff;
  max-width: 503px;
  margin: 0 auto;
  padding: 41px;
  text-align: center;
}

.faq-hero {
  background: url("/icons/faq/bg.jpg") no-repeat;
  background-size: contain;
  padding-top: 10%;
  margin: 0;
}
.faq-hero__header {
  border-radius: 37px 37px 0px 0px;
  background-color: #fff;
  max-width: 503px;
  margin: 0 auto;
  padding: 41px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */